    :root {
        --primary-color: #b4d0e7;
        --text-link-color: rgb(80, 79, 79);
        --btn-color: #0061ff;
        --border-color: #d0d0d3;
        --designit-background: #a2d39b;
        --asu-background: #61082b;
        --uf-background: #0093ce;
        --topps-background: #ff1c1c;
        --wbr-background: #d5001f;
        --hearst-background: #b4d0e7;
        --lp-background: #0d2481;
        --cco-background: #ffd830;
        --designit-border: #d1e9cd;
        --text-sixth-color: #61072a;
    }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.nav-left {
    width: 650px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-right {
    width: 650px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.link-nav {
    text-decoration: none;
    color: var(--text-link-color);
}

.btn {
    background-color: var(--btn-color);
    color: white;
    border: none;
    font-size: 20px;
    padding: .5rem 1rem;
}

.secondary-btn {
    background-color: white;
    border: 1px solid black;
    font-size: 20px;
    padding: .5rem 1rem;
}

.hero-section {
    background-color: var(--primary-color);
    width: 100%;
    height: 650px;
    padding-top: 100px;
}

.jumbo {
    max-width: 1200px;
    width: 100%;
    height: 600px;
    margin: auto;
    display: flex;
    position: relative;
}

.jumbo-left {
    height: 450px;
    width: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 50px;
    font-size: 18px;
}


.jumbo-right {
    height: 450px;
    width: 60%;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 50px;
}

h1 {
    font-size: 70px;
}

.btn-hero {
    margin-top: 2rem;
}

.link-hero {
    margin-top: 2rem;
    text-decoration: none;
    color: black;
    display: inline-block;
}

.icon {
    font-size: 3rem;
    position: absolute;
    left: 0;
    bottom: 50px;
}

.jumbo-img {
    width: 100%;
}

.empty-space {
    height: 4rem;
}

.first-main-section {
    height: 1500px;
    width: 100%;
    padding-top: 50px;
}

.first-container {
    max-width: 960px;
    width: 100%;
    height: 1400px;
    margin: auto;
    display: flex;
    padding-top: 150px;
    position: relative;
}

.section-title {
    width: 100%;
    height: 120px;
}

.first-title {
    position: absolute;
    top: 0;
    left: 0;
}

h2 {
    font-size: 40px;
    margin-bottom: 35px;
}

.column {
    height: 900px;
    width: 960px;
    display: flex;
}

.title-column {
    text-align: center;
    padding-bottom: 10px;
}

.first-column, .second-column, .third-column {
    height: 900px;
    width: 33.3%;
    padding: 10px 0;
    border: 1px solid var(--border-color);
}

.first-column {
    margin-right: 1.6rem;
}

.second-column {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
}

.third-column {
    margin-left: 1.6rem;
}

.content {
    height: calc(100% - 20px);
    width: 100%;
    border-top: 1px solid var(--border-color);
    padding: 30px 15px;
}

ul {
    list-style-type: none; /*sistemare le icon allineate tra loro*/
}

.title-content, .check {
    margin-bottom: 25px;
}

.link {
    color: var(--btn-color);
}

.user, .folder {
    margin-bottom: 20px;
}

.share, .p-content {
    margin-bottom: 45px;
}

hr {
    margin-bottom: 45px;
}

.btn-main {
    font-size: 15px;
    margin-bottom: 35px;
}

.orizzontal-column {
    height: 325px;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-top: 25px;
}

.title-orizzontal-column {
    height: 300px;
    width: 100%;
    margin-top: 25px;
    border: 1px solid var(--border-color);
    text-align: center;
    padding-top: 15px;
    position: relative;
}

.content-left {
    height: 250px;
    width: 70%;
    border-top: 1px solid var(--border-color);
    padding: 35px 0 0 25px;
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
}

.content-right {
    height: 250px;
    width: 30%;
    border-top: 1px solid var(--border-color);
    padding-top: 35px;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
}

.second-main-section {
    height: 600px;
    width: 100%;
    padding-top: 50px;
}

.second-container {
    max-width: 960px;
    width: 100%;
    height: 500px;
    margin: auto;
    display: flex;
}

.img-left {
    height: 500px;
    width: 70%;
    margin-right: 5px;
    background-image: url(../img/partner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.text-right{
    height: 500px;
    width: 30%;
    margin-left: 30px;
    padding: 50px 25px;
}

.third-main-section {
    height: 1200px;
    width: 100%;
    padding-top: 50px;
}

.third-container {
    height: 1100px;
    max-width: 960px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.second-title {
    padding-left: 1.5rem;
    height: 100px;
    padding-top: 3.5rem;
}

.card {
    height: 450px;
    width: calc(100% / 3 - 2rem);
    position: relative;
    display: flex;
}

.card-img, .card-text {
    height: 50%;
    width: 100%;
}

.img {
    max-width: 100%;
} 

.card-text {
    padding-top: 1.5rem;
    position: absolute;
    bottom: 0;
}

.fourth-main-section {
    height: 1030px;
    width: 100%;
    padding-top: 80px;
}

.fourth-container {
    max-width: 960px;
    width: 100%;
    height: 200px;
    margin: auto;
    margin-bottom: 120px;
    position: relative;
}

.sub-container {
    height: 100%;
    width: 600px;
    position: absolute;
    left: 0;
}

.fifth-container {
    height: 630px;
    width: 100%;
    border: 1px dashed black;
    font-size: 50px;
    text-align: center;
    display: flex;
}

.left, .center, .right {
    height: 100%;
    width: calc(100% / 3);
}
.center {
    border: 1px solid red;
}

.top, .bottom {
    height: 50%;
    width: 100%;
    display: flex;
}

.designit, .asu, .uf, .topps, .wbr, .hearst, .lp, .cco {
    height: 100%;
    width: 50%;
}

.designit {
    background-color: var(--designit-background);
    border: 1rem solid var(--designit-border);
}

.asu {
    background-color: var(--asu-background);
}

.uf {
    background-color: var(--uf-background);
}

.topps {
    background-color: var(--topps-background);
}

.wbr {
    background-color: var(--wbr-background);
}

.hearst {
    background-color: var(--hearst-background);
}

.lp {
    background-color: var(--lp-background);
}

.cco {
    background-color: var(--cco-background);
}

.svg { /*sistemare svg e div centrale con scrollbar*/
    fill: white;
    object-fit: contain;
}

.fifth-main-section {
    height: 300px;
    width: 100%;
    background-color: var(--primary-color);
    padding-top: 80px;
}

.sixth-container {
    height: 140px;
    max-width: 960px;
    width: 100%;
    margin: auto;
    display: flex;
}

.sixth-left {
    height: 100%;
    width: 55%;
    padding-top: 1rem;
}

.sixth-text {
    color: var(--text-sixth-color);
}

.sixth-right {
    height: 100%;
    width: 45%;
    position: relative;
}

.tertiary-btn {
    background-color: white;
    border: none;
    font-size: 20px;
    padding: 0.5rem 1rem;
    position: absolute;
    right: 0;
    top: 1.2rem;
}

.sixth-main-section {
    height: 650px;
    width: 100%;
    padding-top: 80px;
}

.seventh-container {
    max-width: 960px;
    width: 100%;
    height: 490px;
    margin: auto;
    padding: 5px;
}

.title-seventh-container {
    height: 150px;
    width: 100%;
    border-bottom: 1px solid black;
    padding-top: 2rem;
}

.question {
    height: 110px;
    width: 100%;
    border-bottom: 1px solid black;
    padding-top: 50px;
    position: relative;
}

.down {
    position: absolute;
    top: 50px;
    right: 30px;
}

footer {
    width: 100%;
    height: 600px;
    background-color: black;
    padding-top: 50px;
}

.footer-section {
    max-width: 1200px;
    width: 100%;
    height: 500px;
    margin: auto;
}

.footer-top {
    height: 80%;
    width: 100%;
    display: flex;
    gap: 5px;
}

.footer-bottom {
    height: 20%;
    width: 100%;
}

.footer-column {
    padding-left: 1rem;
    height: 300px;
    width: calc(100% / 5);
}

.title-footer {
    color: white;
    padding-top: 1rem;
    margin-bottom: 1.2rem;
}

.footer-column li a {
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
}

.p-footer {
    color: lightgray;
    font-size: 12px;
}
